@import './style.scss';
body{
   display: flex;
   width: 100%;
   height: 100vh;
}
.header{
   padding: 60px 0 116px 0;
   width: 100%;
   background-image: url(../images/booking/hero-bg-desktop.jpg), url(../images/patterns/pattern-curve-bottom-right.svg);
   background-repeat: no-repeat, no-repeat;
   background-size: 100% 600px, 993px;
   background-position: top, left 600px;
   flex-grow: 1;
   a{
      img{
         padding-bottom: 153px;
      }
   }
   .promo__section{
      display: flex;
      justify-content: space-between;
      row-gap: 30px;
      width: 100%;
      .section__about{
         width: 100%;
         max-width: 445px;
         display: flex;
         flex-direction: column;
         row-gap: 20px;
         h3{
            font-size: 80px;
            color: white;
            font-weight: 300;
         }
         button{
            display: none;
         }
      }
      form {
         padding: 48px;
         background: #fff;
         width: 100%;
         max-width: 540px;
         box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
         position: relative;
         &::before{
            content: url(../images/patterns/pattern-lines.svg);
            position: absolute;
            top: 95%;
            left: -15%;
            z-index: -1;
         }
         .name,
         .email {
            padding-bottom: 34px;
            #name,
            #email {
               outline: none;
               border: none;
               border-bottom: 1px solid #8e8e8e;
               padding: 15px;
               font-size: 20px;
               width: 100%;
            }
         }

         .NotArrow {
            font-size: 20px;
            opacity: 0.5;
            appearance: none;
            padding: 0px 26px 15px 16px;
            border: none;
            outline: none;
            border-bottom: 1px solid #8e8e8e;
         }
         .dates,
         .times {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 34px;
            row-gap: 20px;
            .dates_select,
            .times_select {
               width: 100%;
               max-width: 300px;
               display: flex;
               justify-content: space-between;
               .time {
                  #time {
                     font-size: 20px;
                     padding: 0px 26px 15px 16px;
                     border: none;
                     outline: none;
                     border-bottom: 1px solid #8e8e8e;
                  }
               }
            }
         }
         .counter {
            border-bottom: 1px solid #8e8e8e;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            margin-bottom: 34px;
            width: 100%;
            .plus,
            .minus {
               user-select: none;
               cursor: pointer;
               font-weight: 700;
               color: #9E7F66;
               font-size: 20px;
               &:hover{
                  opacity: 0.5;
               }
            }
            .people_count {
               display: flex;
               column-gap: 5px;
               color: #151515;
               font-size: 20px;
               font-weight: 700;
            }
         }
         button {
            width: 100%;
            background-color: black;
            border: none;
            padding: 25px 55px;
            transition: 0.5s;
            border: 1px solid transparent;
            color: white;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 20px;
            &:hover {
               border: 1px solid black;
               background-color: white;
               color: #111;
            }
            }
         }
      }
   }
   .error{
      color: red;
      padding-top: 5px;
      font-size: 10px;
      font-weight: 500;
   }
@media only screen and (max-width: 1000px){
   .header{
      background-image: url(../images/booking/hero-bg-tablet.jpg), none;
      background-repeat: no-repeat;

   }
   .promo__section{
      flex-direction: column;
      align-items: center;
      .section__about{
         width: 100%;
         max-width: 100%;
         text-align: center;
      }
      form{
         &::before{
            display: none;
         }
      }
   }
}
@media only screen and (max-width: 600px){
.header{
   .promo__section{
      .section__about{
         align-items: center;
         h3{
            font-size: 48px;
         }
         button{
            display: block;
         }
      }
      form{
         .dates, .times{
            flex-direction: column;
            align-items: flex-start;
            .dates_select, .times_select{
               width: 100%;
               max-width: 540px;
               justify-content: space-between;
            }
         }
         button{
            padding: 15px 37px;
            a{
               font-size: 17px;
            }
         }
      }
   }
}
}

